.header {
    ion-toolbar {
        height: 60px;
        display: flex;
        align-items: center;
        --color: #ffffff;
        --background: #00995d;

        ion-title {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
        }
        
        ion-buttons,
        ion-back-button,
        ion-menu-button {
            color: #ffffff;
        }
      
    }
}