<div class="container">
    <p>Veja os cooperados que comemoram aniversário. Selecione uma data ou pesquise pelo nome.</p>

    <ion-card class="card-month">
        <ion-item lines="none">
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
            <ion-datetime displayFormat="MMMM - YYYY" pickerFormat="DD - MMMM - YYYY" min="1900" max="2099" value="2017-10-01"></ion-datetime>
            <ion-icon name="caret-forward-outline" slot="end"></ion-icon>
        </ion-item>
    </ion-card>

    <ion-item lines="none" class="search">
        <ion-input placeholder="Nome do aniversariante"></ion-input>
    </ion-item>

    <ion-card class="card-list">
        <ion-card-header>
            <ion-card-title item-left>Aniversariantes do dia</ion-card-title>  
            <h1 item-right>
                30
                <small>out</small>
            </h1>
        </ion-card-header>

        <ion-card-content>
            <ion-list lines="none">
                <ion-item *ngFor="let aniversariante of aniversariantes">
                  <ion-label>{{ aniversariante }}</ion-label>
                </ion-item>
              </ion-list>
        </ion-card-content>
    </ion-card>
</div>
